<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.systemui.permission.PLUGIN" />
    <uses-permission android:name="android.permission.RECEIVE_EMERGENCY_BROADCAST" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.MANAGE_SHORTCUTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_vnc"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_demo_public"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.GaussianBlurActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateVersionActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".activity.AnimationTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EventbusTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TestKotlinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GpsSetActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RecyclerviewSelectionTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RoomTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.EglTestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LibpagDemoActivity"
            android:description="@string/fde_desc"
            android:exported="true"
            android:label="@string/fde_desc">
            <intent-filter android:scheme="http">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="application/vnd.desktop" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>